{%extends 'app/main.html'%}
{%block content%}
<h3 class="text-center">Корзина {%if not basket.products.count%} пуста</h3>
{%else%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Картинка</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Общая цена</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {%for basketproduct in basket.products.all%}

    <tr>
      <th scope="row"><strong>{{basketproduct.product.title}}</strong></th>
      <td class="w-25"><img class="img-fluid" src="{{basketproduct.product.image.url}}" alt=""></td>
      <td>{{basketproduct.product.price}}</td>
      <td>
        <form action="{%url 'edit_basket_product_quantity' slug=basketproduct.product.slug%}" method="POST">
          {%csrf_token%}
          <input style="width: 75px;" type="number" class="form-control" name="qty" min="1" value="{{basketproduct.quantity}}">

          <input type="submit" class="btn btn-outline-dark" value="Ок">
        </form>
      </td>
      <td>{{basketproduct.final_price}}</td>
      <td><a  href="{%url 'delete_from_basket'  slug=basketproduct.product.slug%}"><button class="btn btn-outline-dark" type="submit" >Удалить </button></a></td>
    </tr>
  {%endfor%}
  </tbody>
</table>

<a href="{%url 'order'%}"><button class="btn btn-outline-dark" type="submit">Купить</button></a>
{%endif%}
{%endblock%}