{%extends 'app/main.html'%}
{%block content%}
<h1>Ваш заказ успешно оформлен</h1>
<table>
    <thead>
        <tr>
        <th scope="col">Название</th>
        <th scope="col">Картинка</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Общая цена</th>
    </tr>
    </thead>
    <tbody>
    {%for basketproduct in basket.products.all%}

    <tr>
        <th scope="row"><strong>{{basketproduct.product.title}}</strong></th>
        <td class="w-25"><img class="img-fluid" src="{{basketproduct.product.image.url}}" alt=""></td>
        <td>{{basketproduct.product.price}}</td>
        <td>{{basketproduct.quantity}}</td>
        <td>{{basketproduct.final_price}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>